<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>clsName</key>
		<string>WBHomeViewController</string>
		<key>imageName</key>
		<string>home</string>
		<key>title</key>
		<string>首页</string>
		<key>visitorViewInfo</key>
		<dict>
			<key>imageName</key>
			<string></string>
			<key>message</key>
			<string>关注一些人，回这里看看有什么惊喜</string>
		</dict>
	</dict>
	<dict>
		<key>clsName</key>
		<string>WBMessageViewController</string>
		<key>imageName</key>
		<string>message_center</string>
		<key>title</key>
		<string>消息</string>
		<key>visitorViewInfo</key>
		<dict>
			<key>imageName</key>
			<string>visitordiscover_image_message</string>
			<key>message</key>
			<string>登陆后，别人评论你的微博，发给你的消息，都会在这里收到通知</string>
		</dict>
	</dict>
	<dict>
		<key>clsNamge</key>
		<string>VC</string>
	</dict>
	<dict>
		<key>clsName</key>
		<string>WBSDiscoverViewController</string>
		<key>imageName</key>
		<string>discover</string>
		<key>title</key>
		<string>发现</string>
		<key>visitorViewInfo</key>
		<dict>
			<key>imageName</key>
			<string>visitordiscover_image_message</string>
			<key>message</key>
			<string>登陆后，最新、最热的微博尽在掌握中，不会再于实事潮流擦肩而过</string>
		</dict>
	</dict>
	<dict>
		<key>clsName</key>
		<string>WBProfileViewController</string>
		<key>imageName</key>
		<string>profile</string>
		<key>title</key>
		<string>我</string>
		<key>visitorViewInfo</key>
		<dict>
			<key>imageName</key>
			<string>visitordiscover_image_profile</string>
			<key>message</key>
			<string>登陆后，你的微博、相册、个人资料会显示在这里，展示给别人</string>
		</dict>
	</dict>
</array>
</plist>
